.container{
    background-color: teal;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
}

a{
    color: white;
    text-decoration: none;
    padding: 5px;
}

